// ******************************
// Import scss files you need!!!
// ******************************

@import '../../../../styles/_base';
@import '../../../../styles/config';

// ******************************
// end of the imported scss files
// ******************************

.layout {
	display: flex;
	position: fixed;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	transition: all 0.2s ease-in-out 0s;
}
