//*****
//*
// Theme colors SCSS
//*
//*****

//* -------------- Default B&W colors -------------- *//

$black: #000 !default;
$white: #fff !default;

//* -------------- Default Primary & Secondary colors -------------- *//

$primary-color: #1990ff !default;
$secondary-color: #3742fa !default;
$highlight-color: #dde7f8 !default;

//* -------------- Framework colors -------------- *//

$title-color: #001529 !default;
$label-color: #7d86a9 !default;
$txt-color: #2f2f2f !default;
$border-color: #d2dce6 !default;
$bg-color: #fdfdfd !default;
$row-color: #f5f5f5 !default;
$green: rgb(45, 181, 3);
$light-green: rgb(140 255 173);
$new-green: rgb(90 255 168);
$light-blue: rgb(140 255 225);
$orange: rgb(255 106 19);
$yellow: rgb(239 171 0);
$light-red: rgb(255, 90, 95);
$red: rgb(234 0 0);
$blue: rgb(90, 102, 241);
$darkBlue: rgb(0, 57, 203);
$grey: rgb(115 115 115);
$purple: rgb(149 0 183);
$input: rgb(33 183 113);
$radio: rgb(0 129 234);
$dropdown: rgb(195 203 3);
$select: rgb(255 106 19);
$checkbox: rgb(124 37 196);
$fusion-red: rgb(255 90 95);
$pantone-violet: rgb(135 11 225);
$vibrant-purple: rgb(160 0 226);

//TODO: add a selection of primary colors in my profile

$color1: #1990ff;
$color2: #42ba73;
$color3: #3742fa;
