//*****
//*
// All the margins and paddings SCSS
//*
//*****

// ----- Aside Menu Section
$menu-expanded: 280px;
$menu-collapsed: 100px;

//     For margins and paddings:
$offset-s: 2px !default;
$offset-m: 5px !default;
$offset-l: 10px !default;
$offset-xl: 15px !default;
$offset-xxl: 20px !default;
$offset-xxxl: 30px !default;
$offset-header: 25px !default;
$offset-tab: 48px !default;
$offset-btn: 24px !default;
