//*****
//*
// Font family default Open Sans
//*
//*****
// Import Font from Google Font
//*****

//@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap';
//@import 'public/fonts/open-sans';

// ******************************

$font-light: 300 !default;
$font-regular: 400 !default;
$font-semibold: 600 !default;
$font-bold: 700 !default;
$font-strong: 800 !default;
